<h1>All Orders </h1>

<% @orders.each do |order| %>
  <%  if order.sales_person %>
        <div><%= link_to("Order Number: #{order.id} Sales Person: #{order.sales_person.name}", order_path(order)) %></div>
    <% else %>
        <div><%= link_to("Order Number: #{order.id} Sales Person: No longer with Dunder Mifflin", order_path(order)) %></div>
    <%end %>
<% end %>

