<h1>The history of Dunder Mifflin </h1>

<img src="https://vignette.wikia.nocookie.net/theoffice/images/4/40/Scrantonbranch.jpg/revision/latest/smart/width/400/height/225?cb=20091230083401">

<p>The company was founded by Robert Dunder and Robert Mifflin in 1949. There are multiple branches throughout&nbsp;America, many of which have been shut down due to the success of the larger chains.
</p>
<p>In 2010, the company went bankrupt, and was bought by Sabre. In 2012, Sabre was dissolved and the company became Dunder Mifflin once again.
</p>
