<h1>Wecome to Dunder Mifflin Paper Company!!! </h1>
<h2>A People Person's Paper People </h2>

<div><%= link_to "View our Awesome Sales People and their Office Relationships", sales_people_path%></div>
<div><%= link_to "Learn about Dunder Mifflin", about_path%></div>