<h1>All Dunder Mifflin Sales People</h1>         
<div>
<% @sales_people.each do |salesperson| %>
    <%= link_to salesperson.name, sales_person_path(salesperson) %><br>
    <% end %>
</div>

<div><%= link_to "Add a new hire", new_sales_person_path %></div>
